/*body {
  background-color: brown;
  color: rgb(8, 8, 160);
}*/
/* h1 {
  color: rgba(13, 43, 175, 1);
  font-size: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
}

div {
  color: rgb(255, 166, 0);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 15 px;
  font-family: san-serif;
  line-height: 1.5;
}
v #copyright {
  font-size: 16px;
} */
body {
  background-color: #333;
  color: #fff;
}
header {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  font-size: 20px;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: #333;
}
nav a:hover {
  color: rgb(14, 228, 14);
}
